li .Lang {
  display: none;
  position: absolute;
  top: 25px;
  left: -20px;
  border: 1px solid;
  padding: 8px 8px;
  background-color: #1b1b1b;
  border-radius: 10px;
  border-top: 1px solid cyan;
  width: 120px;
  z-index: 1;


}

.Light .Lang{
  display: none;
  position: absolute;
  top: 25px;
  left: -20px;
  border: 1px solid;
  padding: 8px 8px;
  background-color: rgb(58, 161, 161);
  border-radius: 10px;
  border-top: 1px solid cyan;
  width: 120px;
  z-index: 1;
  cursor: pointer;
}

.lang p {
  cursor: pointer;
}

.Lang li {
  padding: 10px 5px;
  border-bottom: 1px solid black;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 5px 0;
}

.Lang li:last-child {
  border-bottom: none;
}

li.lang:hover ul.Lang {
  display: block;
}

ul.Lang li:hover {
  background-color: rgba(0, 0, 0, 0.295);
  cursor: pointer;
}

li .signout{
  cursor: pointer;
}


.myheader .ali {
  background-color: teal;
}



.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}


.signout {
  all: unset;
  padding: 8px 15px;
}


.main-list {
  padding: 5px 10px;
  font-size: 15px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,
.main-link.active {
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

/* ==================
    3. header of mobile
===================== */




.logo {
  animation: logoani 25s infinite;
}

@keyframes logoani {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}


.logo:hover {
  font-size: x-large;
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  animation: down 1s 1;
}